@import 'normalize.css'
@import 'variables'
// import normalize

// above(size)
//   @media screen and max-width(size)
//
// small-screen
//   above(small)


body
  font-family 'Helvetica Neue', Helvetica, sans-serif

main
  width 85%
  margin 0 auto

nav
  display flex
  justify-content space-between
  align-items center

nav ul li
  list-style none
  display inline
  padding 10px

a
  text-decoration none
  color main-color
