*
  transition all base-timing long-duration
  box-sizing border-box

body
  font-family base-font
  color gray
  background-color white

main
  width 85%
  margin 0 auto

nav
  display flex
  justify-content space-between
  align-items center
  padding big-space 0
  ul-reset()

  li
    display inline
    margin-right-not-last()

  h1
    font-size base-size

a
  darker-on-hover()
  color lightish-gray
  text-decoration none
