*
  transition all base-timing long-duration
  box-sizing border-box

body
  background-color white
  color gray
  font-family base-font
  font-size base-font-size

main
  width 85%
  margin 0 auto

nav
  display flex
  justify-content space-between
  align-items center
  padding big-space 0
  ul-reset()

  h1
    font-size base-size

  li a
    slow-color-transition()

  li .active
    border-radius()
    background-color purple
    color background-color
    padding space

a
  darker-on-hover()
  color lightish-gray
  text-decoration none
