*
  transition all base-timing long-duration
  box-sizing border-box

body
  background-color white
  color gray
  font-family base-font
  font-size base-font-size
  padding space
  width: 100%

main
  max-width medium-screen
  margin 0 auto
  clear both

strong
  font-family bold-font

nav
  // display flex
  // justify-content space-between
  // align-items center
  padding big-space 0
  ul-reset()

  h1
    font-size base-size
    float right

  .active
    color teal
    padding 6px 0
    margin-bottom 6px
    border-bottom 3px solid teal

  li > .active
    display inline-block

  +above(small-screen)
    li
      display inline

      & > .active
        display inline

a
  darker-on-hover()
  color lightish-gray
  text-decoration none

// HOMEPAGE
img
  max-width 45vw
  max-height 90vw
  padding small-space
  border-radius 12px
  object-fit contain

.images
  padding space
  flex-center()

  div
    flex-column-center()

.project
  padding-bottom big-space

  h2
  a
    display inline
    margin-right-not-last()

.quotes
  flex-column-then-row()

.quote
  background linear-gradient(orange, tint(orange, 60%))
  color white
  padding space
  border-radius()
  margin-right-not-last()
  ul-reset()

  a
    display block
    font-size small

    &::before
      content '- '
