above(size)
  @media screen and (min-width: size)
    {block}

below(size)
  @media screen and (max-width: size)
    {block}

// between(smaller_size, larger_size)
//   @media screen and (min-width: smaller_size) and (max-width: larger_size)
//     {block}

border(color = shade(@background-color, 5%))
  border 1px solid color

shadow(color = shade(@background-color, 10%))
  box-shadow 1px 1px 1px color

border-radius(size = 2px)
  border-radius size

darker-on-hover(color = gray)
  &:hover
    color darken(@color, 50%)

margin-right-not-last(space = space)
  &:not(last-child)
    margin-right space

slow-color-transition()
  transition all ease-in-out 600ms

ul-reset()
  ul
    margin 0
    padding 0
  li
    margin-right-not-last()
    list-style none
    display inline

chip(color = @color)
  margin-right-not-last()
  border-radius()
  background-color rgba(color, 0.5)
  color color
  display inline-block
  padding small-space space
  &:hover
    background-color rgba(@color, 1)
    color background-color
