// COLORS
teal = #107E7D
orange = #F18F01
purple = #610345
light-purple = #AC80A0
main-color = teal
white = #ffffff
gray = #444444
lightish-gray = tint(gray, 50%)
light-gray = tint(gray, 70%)
lighter-gray = tint(gray, 90%)

background-color = white

// TRANSITIONS
base-timing = ease-in-out
long-duration = 200ms

// TYPOGRAPHY
base-font = 'Circular Normal', 'Helvetica Neue', Helvetica, sans-serif
base-size = 16px

space = 1rem
small-space = space / 2
big-space = space * 2
