card(bg = purple)
  background-color bg
  color white
  padding space big-space
  border()
  shadow()
  border-radius()

.project
.cafe
.quote
  card()
  a
    chip()

.cafe
.quote
  ul-reset()

// colors = teal purple light-purple orange teal
//
// for c, index in colors
//   .list > ul:nth-child({index + 1})
//     card(bg = c)
//
