card(text = gray)
  // background-color lighter-gray
  color text
  padding space 0
  // border()
  // shadow()
  border-radius()

.project
.cafe
  card()

  a
    chip(purple)

.project
  margin-bottom big-space

  h2
    margin-top 0

.cafe
.quote
  ul-reset()

.quote
  background-color lighter-gray
  card(orange)
  border()
  padding space
  shadow()

  a
    chip(teal)
