card(bg = lighter-gray)
  background-color bg
  color purple
  padding space big-space
  border()
  shadow()
  border-radius()

.project
.cafe
.quote
  card()
  a
    chip()

.project
  margin-bottom: space

  h2
    margin-top 0

.cafe
.quote
  ul-reset()

// colors = teal purple light-purple orange teal
//
// for c, index in colors
//   .list > ul:nth-child({index + 1})
//     card(bg = c)
//
