.images
.quotes
  display flex
  align-items center
  justify-content center
  padding-top big-space

.quote
  card(white)
  margin-right-not-last()
  shadow(lighter-gray)
  ul-reset()
  background linear-gradient(purple, light-purple)
  display flex
  flex-direction column
  padding space
  a
    color white
    font-size small
    font-style italic

.cancel-width
  display flex
  flex-direction column



