<h2>Wifi and Coffee</h2>

<div class='list'>
  {{#each model as |cafe|}}
    <ul class='cafe'>
      <li>{{cafe.name}}</li>
      <li>{{cafe.address}}</li>
      <li>{{cafe.wifi}}</li>
    </ul>
  {{/each}}
</div>
