<p>
Computer programming can pretty quickly lead to isolation. I often work in cafes just to get out of the house and force myself to go for a walk to step away from the computer for a bit. I can usually count on finding a JavaU, Second Cup, Starbucks, or Presse Cafe, but there are tons of great boutique cafes in Montreal, too. These are some of the best places I’ve found with fast, reliable wifi (passwords below!) and great coffee. I'm always on the lookout for new places to work around town, so if you know of any let me know on <a href='https://twitter.com/kiraemclean' target='_blank'>twitter</a> or <a href='https://github.com/kiramclean/' target='_blank'>github</a>.
</p>

<div class='list'>
  {{#each model as |cafe|}}
    <ul class='cafe'>
      <li>{{cafe.name}}</li>
      <li>{{cafe.address}}</li>
      <li>{{cafe.wifi}}</li>
    </ul>
  {{/each}}
</div>
