<section class='images'>
  <div class='cancel-width'>
    <img src='assets/sunshine.jpg' alt='Amazing sunshine falling onto trees'/>
    <img src='assets/sea-plants.jpg' alt='Plants growing into the sea'/>
  </div>
  <img src='assets/beach.jpg' alt='Beach all to ourselves'/>
</section>
